<!-- Side navigation -->
<div class="sidenav">
    <!-- figure out the page href to put where the # sign is-->
    <center>
        <h3 class="text-warning">Welcome, {{firstname}} {{lastname}}!</h3>
        <br>
        <div>
            <img height="150" width="auto" src="{{image}}">
        </div>

        <a class="btn btn-outline-warning btn-sm" href="/dashboard" id="navBtn">Home</a>
        <br>
        <a class="btn btn-outline-warning btn-sm" href="/shelf" id="navBtn">Shelf</a>
        <br>
        <a class="btn btn-outline-warning btn-sm" href="#" id="navBtn">Faves</a>
        <a class="btn btn-outline-warning btn-sm" href="/faves" id="navBtn">Faves</a>

        <br>
        <a class="btn btn-outline-warning btn-sm" href="/logout" id="navBtn">Log Out</a>



    </center>
</div>


<div class="container">
    <div class="jumbotron jumbotron-fluid" width="50">
    </div>



    <div class="container">
        <div class="row">
            <div class="col-md-2 offset-1">
                <div class="card">
                    <div class="card-body">
                        <img src="../images/tequila.jpg" class="img-thumbnail">
                    </div>
                </div>

            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <img src="../images/rum.jpg" alt="..." class="img-thumbnail">

                        <img src="../images/tequila.jpg" alt="..." class="img-thumbnail img-fluid">

                    </div>

                </div>

            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <img src="../images/vodka.jpg" alt="..." class="img-thumbnail img-fluid">

                    </div>

                </div>

            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <img src="../images/gin.jpg" alt="..." class="img-thumbnail img-fluid">
                    </div>

                </div>

            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <img src="../images/bourbon.jpg" alt="..." class="img-thumbnail img-fluid">

                    </div>

                </div>

            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <img src="../images/cognac.jpg" alt="..." class="img-thumbnail img-fluid">
                    </div>

                </div>

            </div>
        </div>
    </div>

    <br>


</div>
<div class="container">
    <center>
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="background-color: black; color: white;">
                    <div class="card-body">
                        <p>Search Using The Ingredients On Your Shelf</p>
                        <p>To Unlock Some of The Most Popular Cocktail Recipes</p>
                    </div>
                </div>

                <!-- Modal -->
                {{!-- <div class="modal fade" id="newCocktailModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content text-center">
                            <div class="modal-body">
                                <h2 id="modalText">What kind of cocktail would you like {{firstname}}</h2>
                                <form class="form">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="name" class="form-control" id="nameNew" placeholder="Drink Name">
                                        <label for="ingredients">Ingredients</label>
                                        <input type="ingredients" class="form-control" id="ingredientsNew"
                                            placeholder="Ingredients">
                                        <label for="category">Category</label>
                                        <input type="category" class="form-control" id="categoryNew"
                                            placeholder="Ingredients">
                                        <div class="form-group">
                                            <label for="category">Instructions</label>
                                            <textarea class="form-control" id="textArea" rows="3"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Save</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div> --}}

                <form class="form">
                    <span> <input class="form" type="search" placeholder="Search" aria-label="Search"> </span>
                    <br>
                    <br>
                    <span> <button class="btn btn-outline-warning" type="submit">Get Recipes</button></span>
                    <br><br>
                </form>
                 {{!-- <button type="button" class="btn btn-warning" data-target="#newCocktailModal" data-toggle="modal">
  Launch demo modal
</button> --}}

                        <br>
                        <a class="btn btn-outline-warning" href="/shelf" id="navBtn">START</a>
                    </div>
                </div>

        

            </div>
        </div>
    </center>

    <div class="modal fade" id="newCocktailModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content text-center">
                            <div class="modal-body">
                                <h2 id="modalText">What kind of cocktail would you like {{firstname}}</h2>
                                <form class="form">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="name" class="form-control" id="nameNew" placeholder="Drink Name">
                                        <label for="ingredients">Ingredients</label>
                                        <input type="ingredients" class="form-control" id="ingredientsNew"
                                            placeholder="Ingredients">
                                        <label for="category">Category</label>
                                        <input type="category" class="form-control" id="categoryNew"
                                            placeholder="Ingredients">
                                        <div class="form-group">
                                            <label for="category">Instructions</label>
                                            <textarea class="form-control" id="textArea" rows="3"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Save</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-warning" data-target="#newCocktailModal" data-toggle="modal">
  Launch demo modal
</button>

</div>

{{!-- <script>


    $("#newCocktail").on("click", function (event) {
        event.preventDefault();

        if ($("#nameNew").val() === "" || $("ingredientsNew").val() === "" || $("#categoryNew").val() === "" || $("#textArea").val() === "") {

            return alert("PLEASE FILL OUT EVERY SINGLE DANG FIELD!!!")

        }
    });
</script> --}}

